---
title: Software Ingenieur Begerad
layout: main
---

<h2>Software Ingenieur Begerad</h2>

<p>Willkommen auf der Webseite des Unternehmens <b>{{ site.organization.name }}</b>. Es bietet Ihnen Ingenieursdienstleistungen (Beratung, Entwurf, Planung, Konstruktion, Ausführung, Betrieb, Vertrieb und Überwachung) für <b>Softwarefreiheit</b> an.</p>

<h2>Softwarefreiheit</h2>

<p><b>Freiheit</b> wie in <b>Unabhängigkeit</b> und <b>NICHT</b> wie in Kostenfreiheit.</p>

<h2>Curriculum Vitae</h2>

<p>Bevor Stefan Begerad die Selbstständigkeit zum Ende 2019 begann, war er für etwa zwei Jahre bei der Braunschweiger Verkehrs-GmbH (<a href="https://bsvg.net" target="_blank" rel="noopener noreferrer">BSVG</a>) verantwortlich für das DFI- und Echtzeit-Projekt im <a href="https://www.regionalverband-braunschweig.de/echtzeit/" target="_blank" rel="noopener noreferrer">Großraum Braunschweig</a>. Zusätzlich zu seiner Rolle als Projektingenieur hat er Einblicke in Betrieb und Administration der IT-Infrastruktur für Planung, Disposition und Auskunft erhalten.</p>

<p>Von 2012 bis 2017 hat Stefan Begerad als Softwareentwickler, Produktingenieur, Berater und Requirements-Ingenieur bei der Norddeutschen Systemtechnik (<a href="https://nordsys.de" target="_blank" rel="noopener noreferrer">NORDSYS</a>) GmbH gearbeitet. Dabei hat er Einblicke in die Forschungs- und Entwicklungswelt der Automobilindustrie und dem öffentlichen Verkehrssektor erhalten.</p>

<p>Die Ausbildung zum Ingenieur für Informations- und Systemtechnik hat Stefan Begerad in Form von Bachelor und Master of Science an der Technischen Universität Braunschweig im Jahr 2012 abgeschlossen. Während des Studiums absolvierte er ein Semester an der University of Nottingham im Fach Elektrotechnik.<p>

<p>Stefan Begerad ist geboren und aufgewachsen in Hagenow, Mecklenburg-Vorpommern wo er auch seine Hochschulreife erhielt.</p>

<h2>Persönliches</h2>

<p>Stefan Begerad genießt es Zeit mit seiner Frau und seinen beiden Töchtern im Freien zu verbringen. Dabei geht er gerne Aktivitäten nach wie Fahrradfahren, Laufen, Wandern und Inline Skating. Für mehrere Jahre war er in den Vereinen <a href="https://greenpeace.de" target="_blank" rel="noopener noreferrer">Greenpeace Deutschland</a>, <a href="https://foodsharing.de" target="_blank" rel="noopener noreferrer">Foodsharing</a> und <a href="https://www.lamme.de/de/vereine/buergergemeinschaft-lamme.php" target="_blank" rel="noopener noreferrer">Bürgergemeinschaft Lamme</a> als ehrenamtlicher Mitstreiter aktiv.</p>
