---
title: Default title
---
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
{% comment %} add link tag to the layout {% endcomment %}
<link rel="stylesheet" href="/style/app.css">
</head>
<body>
    <div class="header">
    <a href="/">Start</a> &bull; <a href="/contact">Kontakt</a>
    </div>
    <div class="content">
    {{ content }}
    </div>

    <footer>
	<p>
	{{ site.organization.name }} auf <a target="_blank" href="https://github.com/{{site.author.github}}">GitHub</a> folgen.
	</p>
</footer>
</body>
</html>
