<!DOCTYPE html>
<!--
SPDX-FileCopyrightText: 2021 Software Ingenieur Begerad <swingb.de>
SPDX-License-Identifier: GPL-3.0-or-later
-->
<html lang={{ site.language }}>
  <head>
    <!--add title and meta tags-->
    {% include "partials/meta-info.html" %}

    <!--add RSS feed-->
    <link rel="alternate" type="application/rss+xml"
	  href="{{ site.url }}/feed.xml" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <!--include header-->
    {% include "partials/site-head.html" %}

    <!--the main element tells the browser where the main content of the site lives-->
    <!--the id and tabindex attribute allows the main element to be programatically focused-->
    <main tabindex="-1" id="main-content">
      <!--create named placeholder for content-->
      {% block content %}
      <p>
	This is a placeholder content that renders because a template doesn’t define this block.
      </p>
      {% endblock %}
    </main>
    <!--include footer-->
    {% include "partials/site-foot.html" %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
