<!DOCTYPE html>
<html lang={{ site.language }}>

  <head>
    <meta charset="utf-8">
    {% include "partials/meta-info.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />

    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
    {% include "sample.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>

    <!--including site header-->
    {% include "partials/site-head.html" %}

    <!--the main element tells the browser where the main content of the site lives-->
    <!--the id and tabindex attribute allows the main element to be programatically focused-->
    <main id="main" tabindex="-1" id="main-content">

      <!--create named placeholder for content-->
      {% block content %}
      <p>
	This is a placeholder content that renders because a template doesn’t define this block.
      </p>
      {% endblock %}

    </main>

    <!--include site footer-->
    {% include "partials/site-foot.html" %}
    
  </body>
</html>
