<!--
SPDX-FileCopyrightText: 2021 Software Ingenieur Begerad <swingb.de>
SPDX-License-Identifier: GPL-3.0-or-later
  -->
<!--tell this template to extend another one-->
{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

<!--render post date and any tags that this post has been filed under-->
{% set pageHeaderSummary %}

<time
  datetime="{{ date | w3DateFilter }}">
  {{ date | dateFilter }}
</time>

{% endset %}

<!--create named placeholder for content-->
{% block content %}
  <article>
    {% include "partials/blog-page-header.html" %}

    <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
      {{ content | safe }}
    </div>
  </article>

{% endblock %}
