<!--
SPDX-FileCopyrightText: 2022 Software Ingenieur Begerad <swingbe.de>
SPDX-License-Identifier: GPL-3.0-or-later
  -->
<!--tell this template to extend another one-->
{% extends "layouts/base.html" %}

<!--implement block from extended layouts if you do not want to see any placeholders-->
{% block content %}

  <article>
    <h1>{{ title }}</h1>
    <!--render markdown content-->
    <!--a filter called 'safe' is applied to variable 'content'-->
    {{ content | safe }}
  </article>
  <!--include partial and set ctaContent variable-->
  <!--partials can access variables that are set from outside of them-->
  {% set ctaContent = cta %}
  {% include "partials/cta.html" %}
{% endblock %}
