/*
 * SPDX-FileCopyrightText: 2021 Software Ingenieur Begerad <swingb.de>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
body {
    background-color: #9683EC;
}

hr {
    border: none;
    background: white;
    height: 5px
}
#header {
    background-color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

#footer {
    background-color: white;
    padding: 1px;
    font-size: 12px;
}
