<!--
SPDX-FileCopyrightText: 2022 Software Ingenieur Begerad <swingbe.de>
SPDX-License-Identifier: GPL-3.0-or-later
  -->
<h2>
  {{ activity.title }}
</h2>
<p>
  {{ activity.summary }}
</p>
{% for item in collections.activity %}
<div class="p-5 my-4 bg-light rounded-3">
  <h1>{{ item.data.title }}</h1>
  <p class="lead">
    {{ item.data.summary }}
  </p>
  <p>
    <a href="{{ item.url }}" class="btn btn-success btn-lg"
       style="background-color: #4b0082;">
      {{ item.data.buttonText }}
    </a>
  </p>
</div>
{% endfor %}
