<!--
SPDX-FileCopyrightText: 2022 Software Ingenieur Begerad <swingbe.de>
SPDX-License-Identifier: GPL-3.0-or-later
  -->
<div>
  <div>
    {% if postListHeadline %}
    <h2>
      {{ postListHeadline }}
    </h2>
    {% endif %}
    <div class="container-fluid">
      {% for item in collections.blog %}
      <div class="p-5 my-4 bg-light rounded-3">
	<h1>{{ item.data.title }}</h1>
	<p class="lead">
	  {{ item.data.summary }}
	<p>
	  <a href="{{ item.url }}" class="btn btn-success btn-lg"
	     style="background-color: #4b0082;">Mehr
	  </a>
	</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
