<!--
SPDX-FileCopyrightText: 2022 Software Ingenieur Begerad <swingbe.de>
SPDX-License-Identifier: GPL-3.0-or-later
  -->
<header role="banner" class="site-head">
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4b0082;">

    <div class="container-fluid">

      <!--sub-component navbar-brand to present company-->
      <a href="/" class="navbar-brand">
	<img src="/img/sib-logo-white.svg" height="36" alt="SIB">
      </a>

      <!--sub-component navbar-toggler-->
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

	<!--sub-component navbar-nav to present navigation including dropdowns-->
	<div class="navbar-nav">
	  <!--use njk's loop to go through each 'item'-->
	  <!--more about page variable: https://www.11ty.dev/docs/data-eleventy-supplied/#page-variable-contents-->
	  {% for item in navigation.items %}
	  <a href="{{ item.url }}"
	     class="nav-item nav-link active"
	     {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
	     >{{ item.text }}</a>
	  {% endfor %}
	</div>
  </nav>
</header>
