<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>

<!--the role banner assigns this element as the site header-->
<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">

      <!--navigation-->
      <nav class="[ nav ] [ site-head__nav ] [ font-sans ]" aria-label="Primary">
        <ul class="nav__list">
          <li>
            <a href="/">Start</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contact">Kontakt</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>
