<!--
SPDX-FileCopyrightText: 2021 Software Ingenieur Begerad <swingbe.de>
SPDX-License-Identifier: GPL-3.0-or-later
  -->
<header>
  <!--navbar requires the following wrapping-->
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4b0082;">

    <div class="container-fluid">

      <!--sub-component navbar-brand to present company-->
      <a href="/" class="navbar-brand">SIB</a>

      <!--sub-component navbar-toggler-->
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
	<span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

	<!--sub-component navbar-nav to present navigation including dropdowns-->
	<div class="navbar-nav">
	  <a href="/" class="nav-item nav-link active">Start</a>
	  <a href="/about" class="nav-item nav-link active">Über uns</a>
	  <a href="/blog" class="nav-item nav-link active">Blog</a>
	  <a href="/contact" class="nav-item nav-link active">Kontakt</a>
	</div>
  </nav>
</header>
